<div class="leftPanel">
	<div class="userImgCont">
		<img class="userImg" src="{{avatar_url}}"> </img>
	</div>
	<div class="userDetailTextCont">
		<div class="userName">{{name}}</div>
		<div class="userId">{{login}}</div>
		<div class="userBio">{{bio}}</div>
		<div class="userLocation">{{location}}</div>
	</div>
</div>